*.log
alf_data_dev
conexiam-core-repo-amp/target
conexiam-core-share-amp/target
repo/target
runner/target
share/target
solr-config/target
.idea
solr.log.*
conexiam-core-platform-jar/target
conexiam-core-share-jar/target
integration-tests/target
target
